/* configuraciones de generales */
*{
    box-sizing: border-box;
}
html{
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}
body{
    margin: 0;
    background-color: #2E2E2E;
}
h1{
    font-size: 1.9em;
    margin: 15px 0px 15px 0px;
}
h2{
    font-size: 1.75em;
    margin: 15px 0px 15px 0px;
}
h3{
    font-size: 1.25em;
    margin: 15px 0px 15px 0px;
}
p{
    font-size: 1.1em;
}
a{ 
    color:white;
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    color: #2E2E2E;
}
ul{
    list-style: none;
    padding-left: 0;
    font-size: 1.1em;
}
button{
    font-size: 1.25em;
    font-weight: bold;
    padding: 0px 20px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: white;
    background-color: seagreen;
    margin: 10px;
}
button:hover{
    background-color: rgb(32, 91, 58);
}
.container{ /* al contenido de mi pag despues de los 1400px sera margen */
    max-width: 1400px;
    margin: auto;
}

/* configuraciones de header */
header{
    color: white;
    background-color: seagreen;
}
header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly ;
    min-height: 20vh;
}
#titulo{
    margin: 0;
    padding: 5px 30px;
    font-weight: bold;
    color: white;
    font-size: 1.9em;
    text-align: center;
}
header nav{
    padding: 1px 0px;
}
header a{
    padding: 5px 10px;
}

/* configuraciones de presentacion primera seccion*/
#presentacion{
    display: flex;
}
#presentacion .container{
    background-color: black;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 20px;
    text-align: center;
}
.foto-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 37vh;
}
#cara{
    height: 100%;
}
.text-container{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

/* configuraciones de seccion habilidades */
#habilidades{
    height: 45vh;
}
#habilidades .container{
    background-image:linear-gradient(
        0deg, 
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
        ),url(imgs/code.jpg);
        background-size: cover;
        background-position: center center;
        height: 100%;
        width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 0px 20px;
}

/* configuraciones de seccion proyectos */
#proyectos{
    text-align: center;
    color: white;
}
#proyectos .container{
    display: flex;
    flex-direction: column;
}
#proyectos .carta{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 40px;
}
#proyectos p{
    display: none;
}
#proyectos img{
    width: 77%;
    margin: 10px 0px;
}

/* configuraciones de seccion contacto */
#contacto{
    height: 45vh;
}
#contacto .container{
    background-image:linear-gradient(
        0deg, 
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
        ),url(imgs/code.jpg);
        background-size: cover;
        background-position: center center;
        height: 100%;
        width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 0px 15px;
    text-align: center;
}
#listas-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}
#redes{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

/* configuraciones de footer */
footer{
    background-color: seagreen; 
}
footer .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}
footer a{
    text-align: center;
}

@media (min-width: 740px){
    header .container{
        flex-direction: row;
        justify-content: space-between;
        min-height: 15vh;
    }
    #titulo{
        padding: 0px 30px;
    }
    header nav{
        padding: 0px 20px;
    }
    #presentacion{
        height: 85vh;
    }
    #presentacion .container{
        height: 70%;
        min-height: 0;
        flex-direction: row;
       }
    .foto-container{
        width: 50%;
        height: 100%;
    }
    #cara{
        width: 95%;
        max-height: 95%;
        object-fit: contain;
    }
    .text-container{
        width: 50%;
        height: 100%;
        align-items: center;
    }
    #proyectos .carta-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #proyectos .carta{
        width: 32.5%;
    }
    #listas-container{
        flex-direction: row;
        justify-content: space-around;
        margin: 15px 0px 15px 0px;
    }
    #redes{
        width: 60%;
        justify-content: space-between;
    }
}